input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkbox {
  display: inline-block;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid;
  margin-right: 4px;
}
